* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.body {
    width: 100vw;
}

a:hover, a:visited, a:link, a:active { text-decoration: none; }
a { color: inherit; }

#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.flash-message
{
    z-index: 10000;
    position: relative;
    color: rgb(206, 39, 39);
    font-size: 50px;
}